In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

trainPath = '/kaggle/input/titanic/train.csv'
df = pd.read_csv(trainPath)

# drop rows with  missing values or non-applicable
clean_df = df.dropna()

#when i watched the titanic, they tried to save the women and children first, so i shall train the model
#on these 2 features first, then i try to add other feautures like Pclass 

features = ['Sex', 'Age']
target = clean_df.Survived
criteria = clean_df[features]
#since we have a few categorical data, we use one-hot encoding 

crit = pd.get_dummies(criteria)

#training the RandomForest model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

model = RandomForestRegressor(random_state=1)
X_train, X_test, y_train, y_test = train_test_split(crit, target, test_size=0.2, random_state=1)
model.fit(X_train, y_train)

preds = model.predict(X_test)
print(mean_absolute_error(y_test, preds))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv
0.21179729729729732

In [2]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

trainPath = '/kaggle/input/titanic/train.csv'
df = pd.read_csv(trainPath)
# Impute missing values in 'Age' with the median
df['Age'] = df['Age'].fillna(df['Age'].median())

# drop rows with missing values in other columns
clean_df = df.dropna(subset=['Sex', 'Pclass', 'SibSp', 'Parch', 'Fare'])

features = ['Sex', 'Age', 'Pclass']
target = clean_df['Survived']
criteria = clean_df[features]

# One-hot encoding for categorical data ('Sex' in this case)
crit = pd.get_dummies(criteria)

# Training the RandomForestClassifier model
model = RandomForestClassifier(random_state=1)
X_train, X_test, y_train, y_test = train_test_split(crit, target, test_size=0.2, random_state=1)
model.fit(X_train, y_train)

preds = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, preds))

Accuracy: 0.7653631284916201

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S